.demo-card-wide.mdl-card {
    width: 512px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }


  .mdl-layout__header {
    background-color: #2b2b2b !important;
    color: #ffffff !important;
  }
  
  .mdl-layout__drawer-button {
    color: #ffffff !important;
  }
  
  .is-small-screen .mdl-layout__drawer-button {
    color: #2b2b2b !important;
  }
  
  #mdl-navigation-mobile {
    margin-right: 0 !important;
  }
  
  .mdl-layout-title {
    font-weight: bold;
    font-style: italic;
    color: #ffffff !important;
  }
  
  .mdl-layout__drawer {
    background-color: #2b2b2b !important;
  }
  
  .mdl-navigation {
    margin-right: 50% !important;
  }
  
  .mdl-navigation__link {
    color: #ffffff !important;
    font-size: 16px;
    margin-right: 30px;
  }

  .mdl-card__title-text{
      color:black !important;
  }

  .upcoming-trips{
   
      display:flex;
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
  }
  .completed-trips{
    display:flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .trip-card{
      
      margin: 30px;
  }
  .upcoming-header, .completed-header{
      text-align: center;
  }
  @media only screen and (max-width: 600px) {
    .demo-card-wide.mdl-card {
      width: 90% !Important;
    }
    .upcoming-header, .completed-header{
      font-size: 25px !important;
  }
  }
  