.mdl-layout__header {
  background-color: #2b2b2b !important;
  color: #ffffff !important;
}

.mdl-layout__drawer-button {
  color: #ffffff !important;
}

.is-small-screen .mdl-layout__drawer-button {
  color: #2b2b2b !important;
}

#mdl-navigation-mobile {
  margin-right: 0 !important;
}

.mdl-layout-title {
  font-weight: bold;
  font-style: italic;
  color: #ffffff !important;
}

.mdl-layout__drawer {
  background-color: #2b2b2b !important;
}

.mdl-navigation {
  margin-right: 50% !important;
}

.mdl-navigation__link {
  color: #ffffff !important;
  font-size: 16px;
  margin-right: 30px;
}

.page-content {
  margin-top: 20px !important;
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  font-size: 50px !important;
  /* height: 176px; */
}

.demo-card-wide {
  width: 100% !important;
}

.mdl-grid {
  padding: 0 !important;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__title {
  padding-left: 16px !important;
}

.mdl-card__title-text {
  font-size: 30px !important;
  color: black !important;
  font-weight: bold !important;
}

.mdl-card__supporting-text {
  font-size: 20px !important;
  line-height: 30px !important;
}

form label {
  font-size: 18px;
}

form input,
form select,
form data-list {
  font-size: 16px;
  display: block;
  margin-top: 20px;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}

.section-1 {
  margin-top: 30px;
  padding-left: 10px;
}

.section-2 {
  margin-top: 30px;
}

.mdl-card__action {
  margin-top: 200px !important;
}

.confirm-btn-1,
.confirm-btn-2 {
  margin-top: 50px !important;
  margin-left: 5px !important;
}

.inputs-2 {
  margin-top: 50px !important;
}

.map-container {
  display: flex;
  align-items: center;
  justify-content: center;

  display: relative;
  z-index: 10;
  margin-top: 10px;
}

.mapboxgl-popup-content {
  padding: 5px !important;
}

.trip-confirm-btn {
  margin-top: 20px;
}

.summary-container {
  padding: 0 150px;
  width: 100%;
  margin-bottom: 40px;
}
@media only screen and (max-width: 600px) {
  .summary-container {
    padding: 0 10px;
    width: 85%;
  }
  .summary-container h2{
    font-size:24px !important;
  }

}

.trip-save-btn,
.trip-cancel-btn {
  margin-top: 20px;
}
.btn-level-1{
  text-align: center !Important;
  margin: 1% 6%;
}
.schedule-card{
  padding:4%;
}
