.mdl-layout__header {
  background-color: #2b2b2b !important;
  color: #ffffff !important;
}

.mdl-layout__drawer-button {
  color: #ffffff !important;
}

.is-small-screen .mdl-layout__drawer-button {
  color: #2b2b2b !important;
}

#mdl-navigation-mobile {
  margin-right: 0 !important;
}

.mdl-layout-title {
  font-weight: bold;
  font-style: italic;
  color: #ffffff !important;
}

.mdl-layout__drawer {
  background-color: #2b2b2b !important;
}

.mdl-navigation {
  margin-right: 50% !important;
}

.mdl-navigation__link {
  color: #ffffff !important;
  font-size: 16px;
  margin-right: 30px;
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  font-size: 50px !important;
  /* height: 176px; */
  
}

.demo-card-wide {

    width: 100% !important;
}

.mdl-grid{

    padding: 0 !important;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__title{
  padding-left: 16px  !important;
}

.mdl-card__title-text {
    font-size: 30px !important;
    color: black !important;
    font-weight: bold !important;    
}

.mdl-card__supporting-text {

    font-size: 20px !important;
    line-height: 30px !important;
}

form label{

    font-size: 18px;
}

form input, form select, form data-list{

    font-size: 16px;
    display: block;
    margin-top: 20px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
}

.section-1{
    margin-top: 30px;
    padding-left: 10px;
}

.section-2 {
    margin-top: 30px;
}

.mdl-card__action {

    margin-top: 200px !important;
}

/* .main-container{
    display:none;
} */



