*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    margin:0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: #2B2B2B;
    color: white;
   
    font-size: 16px;
}

.logo{
    display: flex;
    align-items: center;
    font-style: italic;
    margin-left: 30px;
}

nav ul {
    list-style-type: none;
}

nav .links li{
    display:inline-block;
    margin: 0 25px;

}

nav .links li:first-child a{
    color:white;
    background-color: #444444 ;
}

nav a{
    color:#B2B1B9;
    text-decoration: none;
    display: block;
    padding: 20px;
    cursor: pointer;
}
nav button{
    padding:20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #444444;
    border:none;
    color:#B2B1B9;
}
/* CONTENT */

.container{

    width: 100%;
    /* border: 1px solid red;  */
    padding: 50px 80px; 
}

.banner{
    background-image: url("../../images/airline-main-banner.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    
   
}

.banner-heading{
   
   
    padding: 70px 40px 0;
    font-size: 45px;
}

.banner-text{
    
    margin-top: 30px;
    font-size: 20px;
    width:50%;
    padding-bottom: 150px;
    padding-left: 50px;
    padding-right: 20px;
}

.banner-text p {
    margin-top: 10px;
}

.form-container{
    /* border: 1px solid red; */
    margin-top: 50px;
    padding-top: 25px;
}

form label{

    font-size: 25px;
}

form input, form select{

    font-size: 20px;
    display: block;
    margin-top: 20px;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
}

.section-2, .section-3 {

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

.confirm-btn{
    
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #444444;
    border-radius: 5px ;
    border:none;
    font-family: 'Roboto', sans-serif;
    color:white
}

.main-container {
    display:block;
}

.map-container{
    display: block;
    border: 2px solid red;
    display: none;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

}